<h2>Inicio de sesión</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="control-group">
    <%= f.label :email, 'Correo electrónico:' %>
    <div clas="controls">
      <%= f.email_field :email, :autofocus => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, 'Contraseña:' %>
    <div clas="controls">
      <%= f.password_field :password %>
      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me, 'Recordarme', class: 'checkbox inline' %></div>
      <% end -%>
    </div>
  </div>


  <%= f.submit "Entrar", class: 'btn btn-primary' %>
<% end %>
