<div class="accordion-group">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-toggle="true" href="#collapse<%=family[:idFamilia]%>">
        <%= family[:jefeHogar] %> 
      </a>
    </h4>
  </div>
  <div id="collapse<%=family[:idFamilia]%>"  class="family-drawer accordion-body collapse">
    <div class="accordion-inner">
      <%= form_for :payment, method: "post", html: {class: "form-inline", rol: "form"}  do |f| %>
        <div class="form-group">
        <%= f.label :amount, "Monto: ", class: "sr-only" %>
        <%= f.text_field :amount, class: "input-mini form-control" %>
        <%= f.hidden_field(:family_id, value: family[:idFamilia]) %>
        <%= f.hidden_field(:date, value: DateTime.now) %>
        <%= f.submit "Confirmar", class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
