<% has_errors = (@payment && @payment.errors.any? && @payment.family_id.to_s == family["id_de_familia"]) %>
<div class="accordion-group <%= 'payment-error' if has_errors %>">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-toggle="true" href="#collapse<%=family["id_de_familia"]%>">
      <%= encode_utf_8 family["jefe_de_familia"]%>
    </a>
  </div>
  <div id="collapse<%=family["id_de_familia"]%>"  class="family-drawer accordion-body collapse <%= 'in' if has_errors %>">
    <div class="accordion-inner">
      <%= form_error_messages @payment if has_errors %>
      <%= form_for :payment, method: "post", html: {class: "form-horizontal", rol: "form"}  do |f| %>
        <div class="form-group">
          <div class="control-group">
           <% debt = PaymentsManager.calculating_debt(family) %>
           <%= f.label :amount, "Monto", class: "sr-only" %>
           <%= f.number_field(:amount,
                             step: 0.01,
                             in: 0..debt,
                             value: (@payment.amount if has_errors),
                             class: "input-small form-control required",
                             :'data-msg-required' => "Este campo es requerido",
                             :'data-msg-max' => "El valor debe ser menor igual que {0}")
                             %><br/>
           <small class="muted novecento">Deuda <%= number_to_currency(debt, separator: '.', unit: "$", format: "%u%n") %></small>
          </div>
          <div class="control-group">
           <%= f.label :voucher, "Voucher", class: "sr-only" %>
                <%= f.text_field :voucher, maxlength: 50, class: "input-small form-control", :'data-msg-required' => "Este campo es requerido" %>
          </div>
          <div class="control-group">
            <label>
              Depósito
              <input type="checkbox" class="aligned checkbox form-control" data-familyid="<%=family["id_de_familia"]%>" />
            </label>
            <div id="deposit_number_<%=family["id_de_familia"]%>" style="display: none;">
              <%= f.text_field :deposit_number, maxlength: 50, class: "input-medium form-control required", :'data-msg-required' => "Este campo es requerido" %>
            </div>
            <%= f.hidden_field(:family_id, value: family["id_de_familia"]) %>
            <%= f.hidden_field(:date, value: DateTime.now) %>
          </div>
          <div class="control-group">
            <%= f.submit "Confirmar", class: "btn btn-primary", confirm: ""%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
