<% has_errors = (@payment && @payment.errors.any? && @payment.family_id.to_s == family["id_de_familia"]) %>
<div class="accordion-group <%= 'payment-error' if has_errors %>">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-toggle="true" href="#collapse<%=family["id_de_familia"]%>">
      <%= encode_utf_8 family["jefe_de_familia"]%>
    </a>
  </div>
  <div id="collapse<%=family["id_de_familia"]%>"  class="family-drawer accordion-body collapse <%= 'in' if has_errors %>">
    <div class="accordion-inner">
      <%= form_error_messages @payment if has_errors %>
      <%= form_for :payment, method: "post", html: {class: "form-inline", rol: "form"}  do |f| %>
        <div class="form-group">
          <%= f.label :amount, "Monto: ", class: "sr-only" %>
          <%= f.number_field(:amount, step: 0.01, in: 0..10000, value: (@payment.amount if has_errors), class: "input-small form-control") %>
          <%= f.hidden_field(:family_id, value: family["id_de_familia"]) %>
          <%= f.hidden_field(:date, value: DateTime.now) %>
          <%= f.submit "Confirmar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
