<%= form_for :report, url: {action: "create"} do |f| %>
  <input name="report[report_name]" type="hidden" value="HistoricalPaymentsReport"/>
<div class="form-horizontal">
  <div class="control-group span4">
    <%= f.label :from, 'Desde' %>
    <%= f.date_field :from, value: (@report.from if @report) %>
  </div>
  <div class="control-group span4">
    <%= f.label :to, 'Hasta' %>
    <%= f.date_field :to, value: (@report.to if @report)  %>
  </div>
  <%= submit_tag "Generar", class: 'btn btn-primary report' %>
</div>
<% if @report.result %>
  <div class="clearfix">
    <table class="table table-striped">
      <tr>
        <th>Comunidad</th>
        <th>Familia</th>
        <th>Fecha</th>
        <th>Saldo Inicial</th>
        <th>Abono</th>
        <th>Saldo Final</th>
        <th>Efectivo o Comprobante</th>
        <th>Registrado por</th>
      </tr>

      <% @report.result.each do |payment| %>
        <tr>
        <td><%= payment["geography"] %></td>
        <td><%= payment["family_head"] %></td>
        <td><%= payment["date"].strftime("%d/%m/%Y") %></td>
        <td><%= payment["initial_balance"] %></td>
        <td><%= payment["amount"] %></td>
        <td><%= payment["final_balance"] %></td>
        <td><%= payment["receipt"] %></td>
        <td><%= payment["volunteer"] %></td>
      </tr>
    <% end %>
    </table>
  </div>
<% end %>
<% end %>
